.main-section {
    background-color: #131313;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    border: 1px solid #000;

    &__btn {
        background-color: #131313;
        color: #fff;
        padding: .4em;
    }
}

.section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    place-items: center end;
    background-color: #202020;

    &__image {
        width: 100px;
        height: 100px;
    }

    &__options {
        
        a {
            margin: 7px;
            text-decoration: none;
            color: #fff;
        }
    }
}